In [2]:
import pandas as pd

In [3]:
school = 'schools_complete.csv'
student = 'students_complete.csv'

school = pd.read_csv(school)
student = pd.read_csv(student)

todoschool = pd.merge(student,school, how='left', on=['school_name','school_name'])

todoschool.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
total_schools = todoschool['school_name'].nunique()

total_students = todoschool['student_name'].count()

total_budget = school['budget'].sum()

average_math = todoschool['math_score'].sum()/todoschool['math_score'].count()
average_read = todoschool['reading_score'].mean()

pass_mathlist = todoschool.loc[(todoschool['math_score']>=70)]
avg_mathpass = (pass_mathlist['math_score'].count()/todoschool['math_score'].count())*100

pass_readlist = todoschool.loc[(todoschool['reading_score'])>=70]
avg_readpass = (pass_readlist['reading_score'].count()/todoschool['reading_score'].count())*100

overall = pass_mathlist.loc[(pass_mathlist['reading_score']>=70)]

overallavg = (overall['student_name'].count()/total_students)*100

districtsummary = pd.DataFrame([[total_schools,total_students,total_budget,average_math,average_read,
                               avg_mathpass,avg_readpass,overallavg]],columns=['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score',
                               '% Passing Math','% Passing Reading','% Overall Passing'])

districtsummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [29]:
school_name = ['Bailey High School','Cabrera High School','Figueroa High School', 'Ford High School', 'Griffin High School', 
              'Hernandez High School','Holden High School', 'Huang High School', 'Johnson High School', 'Pena High School',
              'Rodriguez High School','Shelton High School','Thomas High School','Wilson High School','Wright High School']

schoolgroup = todoschool.groupby(['school_name'])

typeschool=schoolgroup['type'].min()

s_type = typeschool

totalstudents = schoolgroup['Student ID'].count()
s_totalstu = totalstudents.to_list()

totalschoolbudget = schoolgroup['budget'].min()
s_totsbudg= totalschoolbudget.to_list()

perstudentbudget = (totalschoolbudget/totalstudents)
s_perstubud = perstudentbudget.to_list()

avgmath = schoolgroup['math_score'].mean()
s_avgmath = avgmath.to_list()

avgread= schoolgroup['reading_score'].mean()
s_avgread = avgread.to_list()

passmbyschool = pass_mathlist.groupby(['school_name'])

avgpass_mathscr_school = passmbyschool['math_score'].count()/schoolgroup['Student ID'].count() * 100
s_mathpassavg=avgpass_mathscr_school.to_list()

passrbyschool = pass_readlist.groupby(['school_name'])

avgpass_readscr_school = passrbyschool['reading_score'].count()/schoolgroup['Student ID'].count()*100
s_readpassavg = avgpass_readscr_school.to_list()

overall_group = overall.groupby(['school_name']).count()
    
overall_passing = overall_group['reading_score']/totalstudents*100  

school_summary = pd.DataFrame({'School Name' : school_name,
                              'School Type' : s_type,
                             'Total Students' : totalstudents,
                              'Total School Budget' : totalschoolbudget,
                              'Per Student Budget' : perstudentbudget,
                              'Average Math Score' : avgmath,
                              'Average Reading Score' : avgread,
                              '% Passing Math' : avgpass_mathscr_school,
                              '% Passing Reading' : avgpass_readscr_school,
                              '% Overall Passing' :overall_passing })

school_summary.set_index('School Name')

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [30]:
school_topperf = school_summary.sort_values('% Overall Passing',ascending = False)

school_topperf.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Cabrera High School,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [31]:
school_bottom = school_summary.sort_values('% Overall Passing')

school_bottom.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Rodriguez High School,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [ ]:
#schoolpass_df = pd.merge(pass_readlist,pass_mathlist,how='right', on=['school_name','school_name'])

In [32]:
 schoolgroup.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [49]:
mathavgscr_grade9=todoschool.loc[(todoschool['grade']=='9th')]

mathavgs_g9 = mathavgscr_grade9.groupby(['school_name'])

mathavggrade9 = mathavgs_g9['math_score'].mean()

mathavgscr_grade10=todoschool.loc[(todoschool['grade']=='10th')]

mathavgs_g10 = mathavgscr_grade10.groupby(['school_name'])

mathavggrade10 = mathavgs_g10['math_score'].mean()

mathavgscr_grade11=todoschool.loc[(todoschool['grade']=='11th')]

mathavgs_g11 = mathavgscr_grade11.groupby(['school_name'])

mathavggrade11 = mathavgs_g11['math_score'].mean()

mathavgscr_grade12=todoschool.loc[(todoschool['grade']=='12th')]

mathavgs_g12 = mathavgscr_grade12.groupby(['school_name'])

mathavggrade12 = mathavgs_g12['math_score'].mean()


mathscores_bygrade = pd.DataFrame({'School Name' : school_name,
                                   '9th' : mathavggrade9,
                                   '10th' : mathavggrade10,
                                   '11th' : mathavggrade11,
                                   '12th' : mathavggrade12})

mathscores_bygrade.set_index('School Name')

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [56]:
readavgscr_grade9=todoschool.loc[(todoschool['grade']=='9th')]

readavgs_g9 = readavgscr_grade9.groupby(['school_name'])

readavggrade9 = readavgs_g9['reading_score'].mean()

readavgscr_grade10=todoschool.loc[(todoschool['grade']=='10th')]

readavgs_g10 = readavgscr_grade10.groupby(['school_name'])

readavggrade10 = readavgs_g10['reading_score'].mean()

readavgscr_grade11 =todoschool.loc[(todoschool['grade']=='11th')]

readavgs_g11 = readavgscr_grade11.groupby(['school_name'])

readavggrade11 = readavgs_g11['reading_score'].mean()

readavgscr_grade12 =todoschool.loc[(todoschool['grade']=='12th')]

readavgs_g12 = readavgscr_grade12.groupby(['school_name'])

readavggrade12 = readavgs_g12['reading_score'].mean()

readingscores_bygrade = pd.DataFrame({'School Name' : school_name,
                                   '9th' : readavggrade9,
                                   '10th' : readavggrade10,
                                   '11th' : readavggrade11,
                                   '12th' : readavggrade12})

mathscores_bygrade.set_index('School Name')

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986